.detail-link{
    font-weight: 600;
    cursor:pointer;
    text-decoration: underline;
    font-size: 14px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
}
.w-100 {
    width: 100%;
}
.text-20{
    font-size: 18px;

    margin-left: 10px !important;
}
.icon-user{
    margin-top:50px;
    border-radius: 50px;
}