<div class="grid">
  <!-- <div class="col-12">
  <div class="col-12"> -->
  <div class="col-12">
    <h1>{{ house.name }}</h1>
  </div>
  <div class="col-8">
    <span class="detail-link">4,95</span> ·
    <!-- </div>
  <div class="col-1"> -->
    <span class="detail-link pl-1">65 evaluaciones</span> ·
    <!-- </div>
  <div class="col-6"> -->
    <!-- <button class="detail-button-link" type="button"> -->
    <span class="detail-link pl-1">Rockbridge - Ohio - Estados Unidos</span>
    <!-- </button> -->
  </div>

  <div class="col-2">
    <!-- <button class="detail-button-link" type="button"> -->
    <span class="detail-link">Compartir</span>
    <!-- </button> -->
  </div>
  <div class="col-2">
    <!-- <button class="detail-button-link" type="button"> -->
    <span class="detail-link">Guardar</span>
    <!-- </button> -->
  </div>
  <!-- </div> -->
</div>
<div class="grid">
  <div class="col-6">
    <img class="w-100" src="{{ house.images.picture_url }}" />
  </div>
  <!-- <div class="col-6">
    <div class="grid">
      <div style="background-color: blue" class="col-6">6</div>
      <div style="border-color: white; background: blue" class="col-6">6</div>
      <div style="border-color: white; background: blue" class="col-12">12</div>
    </div>
  </div> -->
</div>

<div class="grid">
  <div class="col-8">
    <div class="grid">
      <div class="col-10">
        <div class="grid">
          <div class="col-12">
            <h1>{{ house.space }}</h1>
          </div>
          <div class="col-12" class="text-20">
            {{ house.accommodates }} viajeros - {{ house.bedrooms }} dormitorios
            - {{ house.beds }} - baños
            {{ house.bathrooms.$numberDecimal }}
          </div>
          <!-- <div style="background-color: blue" class="col-6">6</div>
          <div style="border-color: white; background: blue" class="col-6">6</div>
          <div style="border-color: white; background: blue" class="col-12">12</div> -->
        </div>
      </div>
      <div class="col-2">
        <img class="icon-user" src="{{ house.host.host_thumbnail_url }}" />
      </div>
      <!-- <div style="background-color: blue" class="col-6">6</div>
      <div style="border-color: white; background: blue" class="col-6">6</div>
      <div style="border-color: white; background: blue" class="col-12">12</div> -->
    </div>
    <section>
      <div>Cancelacion gratuita durante 48 horas</div>
      <div class="col-11">
        {{ house.description }}
      </div>
    </section>
  </div>
  <div style="border-color: white; background: red" class="col-4">4</div>
</div>

<div class="grid">
  <div class="col-12"></div>
  <div class="col-6"></div>
  <div class="col-6"></div>
</div>

<p-button label="Click"></p-button>

<!-- <div *ngIf="!isLoading">
  {{ house.name }}
  <p-button label="Click"></p-button>
  <app-reserve></app-reserve>
  <app-evaluations></app-evaluations>
  <app-map></app-map>
  <app-host></app-host>
</div> -->
